[submodule "python"]
	path = python
	url = git@github.com:adam-coates/nix-flakes-python.git
[submodule "quarto"]
	path = quarto
	url = git@github.com:adam-coates/nix-flakes-quarto.git
[submodule "r"]
	path = r
	url = git@github.com:adam-coates/nix-flakes-r.git
